.add {
    width: 80% ;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.addh1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.add_form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add_form input,
.add_form textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}

.add_form input:focus,
.add_form textarea:focus {
    border-color: #007BFF;
    outline: none;
}

.add_form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add_form button:hover {
    background-color: #0056b3;
}

.preview-image {
    max-width: 100%;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.message {
    font-size: 25px;
    font-family: Arial, sans-serif; 
    color: #333; 
    background-color: #f9f9f9; 
    padding: 15px; 
    border-radius: 5px; 
    margin: 10px 0; 
  }
