.category{
 display: flex ;
 flex-direction: column;   
 
}
.create_class_category{
display: flex ;
flex-direction: row;
background-color: #f5f5f5 ; 
padding: 10px; 
justify-content: center;
gap: 20px;
align-items: center;
}
.create_class_category button{
    width: 100%;
  max-width: 200px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}
.create_class_category button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}
.category_form {
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    gap: 10px;
    padding: 20px;
    background-color: #f5f5f5;
}
.create_class_category label {
    font-size: 25px;
    font-weight: bold;
    display: block;
  }
  .create_class_category input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 20px;
    outline: none;
  }
.category-books {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 70%;
}

.category-books img {
    width: 100%;
    height: 80%;
    border-radius: 5px;
}

.category-books h1 {
    font-size: 18px;
    margin: 10px 0;
    color: #333333;
}

.category-books select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    font-size: 16px;
    width: 100%;
}
.message_Category{
    font-size: 25px;
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
    font-weight: bold ;

}

@media (max-width: 800px) {
    .category{
        grid-template-columns:repeat(2, minmax(200px, 1fr)); ;
      }
}
@media (max-width: 600px) {
    .category{
      grid-template-columns:repeat(1,1fr); ;
    }

}