.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  gap: 20px;
}

.container .slideshow {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 30px;
}

.home {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  width: 90%;
}

.data_home {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  background-color: #dcd9d5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.data_home:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.data_home img {
  height: 400px;
  width: 95% ;
  border-radius: 8px;
  cursor: pointer;
}

.data_home h1 {
  font-size: 1.2em;
  color: #333;
  margin: 15px 0;
  font-weight: bold;
}

.data_home .price {
  font-size: 20px;
  color: #666;
  margin-bottom: 15px;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.icons svg {
  cursor: pointer;
  transition: fill 0.3s;
}

.icons .heart:hover {
  fill: #e74c3c;
}

.icons .carts:hover {
  fill: #27ae60;
}

.icons .trash:hover {
  fill: #c0392b;}


 .icons .gear:hover{
  fill: #c0392b;
 } 