.login {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 100px auto;
    padding: 20px;
    height: auto;
    gap: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .login input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 15px;
    outline: none;
  }
  .login label {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  .login button {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .login button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }
  
  .login h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .googleLoginButton {
    color: blue;
    border: none;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .googleLoginButton:hover {
    background-color: #f0f8ff;
    transform: translateY(-2px);
  }
  
  @media (max-width: 600px) {
    .login {
      width: 90%;
      margin: 50px auto;
      padding: 15px;
    }
  
    .login input {
      width: 100%;
    }
  
    .login button {
      width: 100%;
    }
  }