.register {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 550px;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    padding: 20px;
    height: auto;
    gap: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.7); 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .register input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 15px;
    outline: none;
    transition: border 0.3s, background-color 0.3s;
    font-size: 18px;
  }

  
  .register label {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  .register button {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .register button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }
  

    .message_register {
      font-size: 25px;
      font-family: Arial, sans-serif; 
      color: white; 
      padding: 15px; 
      border-radius: 5px; 
      margin: 10px 0; 
  
  
  }
  

  
  @media (max-width: 600px) {
    .register {
      width: 90%;
      margin: 50px auto;
      padding: 15px;
    }
  
    .register input {
      width: 100%;
    }
  
    .register button {
      width: 100%;
    }
  }